<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.spitak.amazinggame"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.ContentActivity"/>
        <activity
            android:name=".activity.GameActivity"
            android:theme="@style/NoBar"
            />
        <activity android:name=".activity.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".HighScoreProvider"
            android:authorities="de.spitak.amazinggame.HighScoreProvider"
            android:enabled="true"
            android:exported="true"
            />

        <activity android:name=".activity.HighscoreActivity" android:label="@string/highscore"/>
        <activity android:name=".activity.SettingsActivity" android:label="@string/button_show_settings">
        </activity>
    </application>

</manifest>